---

kubernetes_packages:
  - name: kubernetes
    version: 1.12.5
    url: "https://storage.googleapis.com/kubernetes-release/release/v1.12.5/kubernetes-server-linux-amd64.tar.gz"

mysql_packages:
  - name: mysql
    version: 5.7.23
    url: "https://cdn.mysql.com//Downloads/MySQL-5.7/mysql-5.7.23-linux-glibc2.12-x86_64.tar.gz"
